@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; 
  font-size: 70%; 
}

body {
  font-family: 'Inter', sans-serif !important;
}

@media (min-width: 768px) {
  html {
    font-size: 85%; 
  }
}